/*Reseteo de estilos*/
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: sans-serif;
    text-align: center;
}
/*  Maquetacion
---------------------------------------------------------------------
    CABECERA    (arriba del todo y que ocupe el 100%)
        titulo
    MENU        (debajo de la cabezera y que ocupe el 100%)
    CONTENIDO   (debajo del menu y que ocupe el 80%)
    LATERAL     (debajo del menu y que a la derecha del contenido)
    FOOTER      (abajo del todo y que ocupe el 100%)
*/

.website{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 120px 70px 2fr 70px;
}